<p>
<strong>Rating:</strong>
<%= @review.rating %>
</p>
<p>
<strong>Name:</strong>
<%= @review.name %>
</p>

<p>
<strong>Title:</strong>
<%= @review.title %>
</p>

<p>
<strong>Body:</strong>
<%= @review.name %>
</p>

<p>
<strong>Hotel:</strong>
<%= @review.hotel.name %>
</p>

<%= link_to 'Back', hotel_reviews_path(@hotel) %>